{% extends 'home/base.html' %}
{% block profile_active %}active{% endblock %}
{% block title %} - Profile {% endblock %}
{% block sidebar %}{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-lg-6">
			<h1 class="page-header">{{ user.last_name }}
				<small>{{ user.first_name }}</small>
			</h1>
		</div>
	</div>
	<form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="row">
			<div class="col-md-8">
				<img class="img-responsive" src="{{ user.profile.picture.url }}" alt="{{ user.first_name }} {{ user.last_name }}" style="max-height:500px; border:1px solid black;"><br>
				<div class="pull-right">
					<div><input type="file" class="filestyle" data-classButton="btn btn-primary" data-input="false" data-classIcon="icon-plus" data-buttonText="Change picture" id="id_picture" name="picture"></div>
				</div>
			</div>
			<div class="col-md-4">
				<h3>Details</h3>
				<h4><small>Last login: {{ user.last_login }}</small></h4>
				{% if error_message %}
				<p><strong>{{ error_message }}</strong></p>
				{% endif %}
				<table class="profile">
                    <tr>
						<td><strong>First name:</strong></td>
						<td><input id="id_first_name" name="first_name" type="text" maxlength="30" value="{{ user.first_name }}" required/></td>
					</tr>
                    <tr>
						<td><strong>Last name:</strong></td>
						<td><input id="id_last_name" name="last_name" type="text" maxlength="30" value="{{ user.last_name }}" required/></td>
					</tr>
					<tr>
						<td><strong>Date of birth:</strong></td>
						<td><input id="id_date_of_birth" name="date_of_birth" type="date" maxlength="10" value="{{ user.profile.date_of_birth|date:"Y-m-d" }}" max="{% now "Y-m-j" %}" min="1900-01-01"/></td>
					</tr>
					<tr>
						<td><strong>Gender:</strong></td>
						<td>
							<select id="id_gender" name="gender" type="text" value="{{ user.profile.sex }}" >
								{% if user.profile.sex == 'Male' %}
                                    <option value=""></option>
								    <option value="Male" selected="selected">Male</option>
								    <option value="Female">Female</option>
								{% elif user.profile.sex == 'Female' %}
                                    <option value=""></option>
								    <option value="Female" selected="selected">Female</option>
								    <option value="Male">Male</option>
                                {% else %}
                                    <option value="" selected="selected"></option>
								    <option value="Female">Female</option>
								    <option value="Male">Male</option>
								{% endif %}
							</select>
						</td>
					</tr>
					<tr>
						<td><strong>Occupation</strong></td>
						<td><input id="id_occupation" name="occupation" type="text" maxlength="25" value="{{ user.profile.occupation }}" /></td>
					</tr>
					<tr>
						<td><strong>E-mail:</strong></td>
						<td><input id="id_email" name="email" type="email" value="{{ user.email }}" /></td>
					</tr>
					<tr>
						<td><strong>E-mail public:</strong></td>
						<td><input id="id_show_email" name="show_email" type="checkbox" {% if user.profile.show_email %}checked{% endif %} value="True" /></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<h3><label for="id_bio">Bio:</label></h3>
				<div class="col-lg-10">
					<textarea rows="12" class="form-control" id="id_bio" maxlength="5000" name="bio" type="text">{{ user.profile.bio }}</textarea>
				</div>
			</div>
		</div>
		<div class="form-group">
			<br>
			<div class="col-lg-offset-10 col-lg-12">
				<button type="submit" class="btn btn-success">Save Changes</button>
			</div>
		</div>
	</form>
	<div class="col-lg-12">
		<h3 class="page-header">Created blogs</h3>
	</div>
	{% for blog in user.blog_set.all %}
	<div class="col-sm-5 col-lg-5 col-md-5">
		<div class="thumbnail">
			<img src="{{ blog.picture.url }}" alt="{{ blog.title }}" style="max-width:300px;max-height:150px; min-height: 150px">
			<div class="caption">
				<h4 class="fulljustify"><a href="{% url 'home:blog'  blog.id %}">{{ blog.title }}</a>
				</h4>
				<p class="fulljustify">{{ blog.text }} </p>
			</div>
			<div class="blog-info">
				<form class="pull-right" action="{% url 'home:delete_blog' blog.id %}" method="post" style="display: inline;">
					{% csrf_token %}
					<input type="hidden" name="blog_id" value="{{ blog.id }}" />
					<button type="submit" class="btn btn-default btn-sm">
					<span class="glyphicon glyphicon-trash"></span>
					</button>
				</form>
				<p>
					<span><a href="{% url 'home:blog' blog.id %}" class="btn btn-primary btn-sm" role="button">View</a></span>
					<span> <a href="{% url 'home:edit_blog' blog.id %}" class="btn btn-default btn-sm btn-edit" role="button">
					<span class="glyphicon glyphicon-edit"></span>
					</a></span>
				</p>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
<hr>
{% endblock %}